/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/dummy/db/seeds.rb
/spec/dummy/db/migrate/*.rb
/spec/dummy/Gemfile
/spec/dummy/Gemfile.lock
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
.ruby-version
.ruby-gemset
